
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}

h1{
    font-size: 50px;
}

.name-color{
    color: orange;    

}

.title-color{
    color: brown;
}
.para{
    color: rgb(41, 38, 26);
    font-size: 18px;
}

.flexible-container{
    display: flex;
    width: 100%;
   
}

.container{
    background-image: url(image/images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width{
    width: 50%;
    padding: 5%;
}

.half-width img{
    width: 100%;
}

.hire-me{
    padding: 10px 30px;
}

.hire-me{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    background-image:linear-gradient( orange, skyblue);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    color: white;
    margin-top: 50px;
}

.dream-big{
    background-image: url(image//images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.dream-group{
  width: 50%;
  padding: 5%;
  margin-right: 5%;
}


.dream-pic{
    width: 50%;
        padding: 5%;
}

.dream-big img{
    width: 100%;
}

.experiences{
    width: 100%;
   
}

.exp-area{
    width: 40%;
    background-color: white;
    color: black;
    padding: 20px;
    box-shadow: 10px 5px 56px 5px  gray;
    text-align: justify;
    margin: auto;
    border-left: 5px solid salmon;
    margin-top: -45px;
    margin-left: 5%;
    margin-right: 5%;
   
}

.exp-area1 {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    color: black;
    padding: 20px;
    box-shadow: 10px 5px 56px 5px gray;
    text-align: justify;
    margin: auto;
    border-left: 5px solid blue;
    margin-top: -45px;
   
}

.exp-item{
    background-image: url(image/images/exp-bg.png);
        background-repeat: no-repeat;
        
}
.my-exp{
    font-size: 40px;
    margin-bottom: 100px;
}
.font-title{
    font-size: 40px;
}

.short-title{
   color: orange;
}

.fotter{
    text-align: center;
    margin-top: 150px;
    color: rgb(203, 218, 217);
}